@import "tailwindcss";

/* 'primary':"#0c1250" <=> 'secondary': "#f1f1f1"; */
.bg-primary {
  background-color: #0c1250;
}

body{
  overflow-x: hidden;
}

.color-primary {
  color: #0c1250;
}

.bg-light {
  background-color: #f1f1f1;
}
